
body, h1, h2, h3, p, table, th, td {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  position: relative;
  background-color: #3498db;
  color: #fff;
  padding: 20px;
  text-align: center;
}

nav {
  background-color: #2c3e50;
  color: #ecf0f1;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease-in-out;
}

nav a {
  color: #ecf0f1;
  text-decoration: none;
  padding: 10px;
  margin: 0 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out, transform 0.1s ease-in-out;
}

nav a:hover {
  background-color: #34495e;
  transform: scale(1.05);
}

logo {
  text-align: center;
}

.logo img {
  width: 45px;
  height: auto;
  margin-right: 10px;
}

.logo span {
  display: inline-block;
    vertical-align: middle; /* Vertically align the inline-block elements */
    margin-right: 10px;
}

section {
  padding: 20px;
}

.bl-button, .bl1-button{
  background-color: #007bff; 
  color: white; 
  border: none; 
  padding: 10px 20px;
  cursor: pointer; 
  border-radius: 5px; 
  margin-right: 10px;
}

.bl1-button{
  margin-bottom: 8px;
}

.search-button:hover {
  background-color: #0056b3; /* Darker blue background color */
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-bar input {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 8px;
}

.search-bar button {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.search-bar button:hover {
  background-color: #0056b3;
}

footer {
  background-color: #2c3e50;
  color: #fff;
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Pharmacy Invoice Styles */
#invoice-section {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 20px;
}

#customer-info, #product-details, #total-amount {
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #3498db;
  color: #fff;
}

#product-details td:last-child {
  text-align: center;
}

.product-item {
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 10px;
}

.input-group label {
  display: inline-block;
  width: 100px;
}

.input-group input {
  width: 200px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


#crud-section {
  background-color: #ecf0f1;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 20px;
}

.crud-container {
  display: flex;
  justify-content: space-between;
}

.crud-section {
  flex: 1;
  margin-right: 20px;
}

.crud-section:last-child {
  margin-right: 0;
}

#crud-section form {
  display: grid;
  gap: 15px;
}

#crud-section label {
  font-weight: bold;
}

#crud-section input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

#crud-section button {
  background-color: #3498db;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#crud-section button:hover {
  background-color: #2980b9;
}